.main {
  font-family: 'Courier New', Courier, monospace;
  /* background-color: black; */
  color: white;
}

body {
  background-color: black;
}

.title {
  font-size: 2em;
}

footer {
  text-align: center;
  margin: 10%;
}